# Required for executing real transactions (when --simulate false)
PRIVATE_KEY=""

# Required for Tenderly simulations (when --simulate true)
TENDERLY_ACCESS_KEY=""
TENDERLY_ACCOUNT=""
TENDERLY_PROJECT=""